.calendar-overlay {
  --day-height: 60px;
  --day-gap: 10px;
  --label-height: 20px;
}

.calendar-time-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.calendar-time-btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: var(--text);
}

.calendar-time {
  flex: 1;
  text-align: center;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: var(--day-gap);
  height: calc(
    6 * var(--day-height) + var(--label-height) + 6 * var(--day-gap)
  );
}

.calendar-container > * {
  flex-basis: calc((100% - 6 * var(--day-gap)) / 7);
}

.calendar-day-label {
  text-align: center;
  height: var(--label-height);
}

.calendar-day {
  cursor: pointer;
  height: 60px;

  border-radius: var(--br);
  outline: 1px solid var(--bg-2);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: 600;
}

.calendar-day.failed {
  outline: 1px solid var(--red);
}
.calendar-day.partial {
  outline: 1px solid var(--yellow);
}
.calendar-day.completed {
  outline: 1px solid var(--green);
}

.calendar-day.calendar-day-off {
  color: var(--bg-2);
}

.calendar-result {
  height: 120px;
  border-radius: var(--br);
  outline: 1px solid var(--bg-2);

  margin-top: 12px;
  padding: 6px;
}

.calendar-result-correct {
  font-size: 2rem;
  font-weight: 600;
}

.calendar-result span {
  display: block;
}

.calendar-result-small {
  font-size: 12px;
}

.calendar-result-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-2);
}
