.overlay {
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;

    transition: opacity 200ms ease-in-out;
}

.overlay.overlay-shown {
    pointer-events: all;
    opacity: 1;
    transition:
        opacity 200ms ease-in-out;
}

.overlay-container {
    border: 1px solid var(--bg-2);
    background-color: var(--bg);
    border-radius: var(--br);

    width: min(500px, calc(100% - 48px));
    padding: 12px;
}

.overlay-container-x {
    float: right;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1rem;
    color: var(--bg-2);
}

@media screen and (max-width: 600px) {
    .overlay {
        justify-content: unset;
        align-items: unset;
    }

    .overlay-container {
        width: 100%;
        margin: 24px;
        overflow-y: auto;
    }
}