/* TODO: Remove all imports, only import what is needed. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
}

#root {
    min-height: 100vh;
}

.image-pixelated {
    image-rendering: pixelated;
}

.text-rainbow-anim:hover {
    animation: rainbow-background forwards infinite 5000ms;
}

@keyframes rainbow-background {
    0% { color: hsl(0deg, 100%, 50%); }
    10% { color: hsl(36deg, 100%, 50%); }
    20% { color: hsl(72deg, 100%, 50%); }
    30% { color: hsl(108deg, 100%, 50%); }
    40% { color: hsl(144deg, 100%, 50%); }
    50% { color: hsl(180deg, 100%, 50%); }
    60% { color: hsl(216deg, 100%, 50%); }
    70% { color: hsl(252deg, 100%, 50%); }
    80% { color: hsl(288deg, 100%, 50%); }
    90% { color: hsl(324deg, 100%, 50%); }
    100% { color: hsl(360deg, 100%, 50%); }
}

/* React select overrides */
/* .react-select__control {
    background-color: transparent !important;
    border-radius: 12px !important;
}

.react-select__single-value {
    color: white !important;
}

body.dark .react-select__menu {

}

.react-select__menu {
    background-color: #292524 !important;
    color: white;
}

.abc {
    background-color: red;
} */