@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root {
  --l-bg: #FEFEFA;
  --l-bg-2: #C0C0C0;
  --l-text: #1B1B1B;
  --l-red: #F08080;
  --l-green: #7CFC00;
  --l-yellow: #FFBF00;

  --d-bg: #1B1B1B;
  --d-bg-2: #3C3C3C;
  --d-text: #FEFEFA;
  --d-red: #660000;
  --d-green: #138808;
  --d-yellow: #765116;

  --bg: var(--l-bg);
  --bg-2: var(--l-bg-2);
  --text: var(--l-text);
  --red: var(--l-red);
  --green: var(--l-green);
  --yellow: var(--l-yellow);

  --br: 6px;
}

* {
  font-family: 'Outfit', 'Arial', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

body.dark {
  --bg: var(--d-bg);
  --bg-2: var(--d-bg-2);
  --text: var(--d-text);
  --red: var(--d-red);
  --green: var(--d-green);
  --yellow: var(--d-yellow);
}

a[href] {
  color: var(--l-red);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;

  min-height: 100vh;
  width: 100%;
}

.game-over-name {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.container {
  width: 600px;
  border: 1px solid var(--bg-2);

  display: flex;
  justify-content: center;

  margin: 24px 0;
}

.inner-container {
  width: min(500px, calc(100% - 24px));

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inner-container>* {
  width: 100%;
}

.title {
  text-align: center;
}

.subtitle {
  margin-top: 12px;
  margin-bottom: 0;
}

.btn {
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  background: none;
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: var(--br);
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.btn:hover {
  background-color: var(--bg-2);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.image-canvas {
  width: min(300px, 100%);
  min-height: 300px;
  outline: 1px solid var(--text);
  image-rendering: pixelated;
}

.image-canvas.image-correct {
  min-height: unset;
}

.react-select__control {
  background-color: var(--bg) !important;
  border-color: var(--text) !important;
}

.react-select__single-value {
  color: var(--text) !important;
}

.react-select__input {
  color: var(--text) !important;
}

.react-select__menu {
  background-color: var(--bg) !important;
  border: 1px solid var(--text) !important;
  border-radius: var(--br);
}

.react-select__menu-list {
  color: var(--text) !important;
}

.react-select__option {
  color: var(--text) !important;
  background-color: var(--bg) !important;
}

.react-select__option:hover {
  background-color: var(--bg-2) !important;
  color: var(--text) !important;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.guess {
  border: 1px solid var(--bg-2);
  border-radius: var(--br);
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.guess-failed {
  background-color: var(--red);
}

.guess-success {
  background-color: var(--green);
}

.guess-partial {
  background-color: var(--yellow);
}

.game-label {
  font-weight: 500;
  color: var(--text) !important;
  text-decoration: none;
}

.game-label:hover {
  text-decoration: underline;
}

.game-publisher {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  #root {
    flex-direction: column;
  }

  .container {
    width: 90%;

    min-width: unset;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--d-bg);
    --bg-2: var(--d-bg-2);
    --text: var(--d-text);
    --red: var(--d-red);
    --green: var(--d-green);
    --yellow: var(--d-yellow);
  }
} */

.error-message {
  color: var(--l-red);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  gap: 12px;

}

.form-input {
  display: block;
  font-size: 1rem;

  padding: 0.5rem 0.75rem;
  border-radius: var(--br);
  outline: none;
  background: none;
  color: var(--text);
  border: 1px solid var(--text);
}

textarea.form-input {
  resize: none;
  scrollbar-width: thin;
}

.form-label .small {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  color: grey;
}

.form-label .req {
  color: red;
}

.form-label .req:hover::after {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.form-label .req::after {
  display: inline;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  content: ' Required';
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 100%;
  padding: 12px 0;

  border-top: 1px solid var(--bg-2);
  color: var(--text);
}

.footer-text {
  display: block;
  margin: 0;
}

.footer-small {
  font-size: 0.8rem;
  color: var(--bg-2);
}

.footer-rainbow {
  background-image: linear-gradient(to left,#ffbe0b, #fb5607, #ff006e);
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;

  font-weight: 700;
}